/* ================
   font
   ================ */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* ================
   global styles
   ================ */

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	background-color: #e2bcb7;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

/* ================
   navbar
   ================ */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 8vh;
	padding-inline: 5rem;
	background-color: #e4d3cf;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.logo {
	font-size: 1.5rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.logo a {
	color: #865858;
}

.nav-links {
	display: flex;
	gap: 1.5rem;
	font-size: 1rem;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.nav-links a {
	color: #865858;
	position: relative;
}

.nav-links a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: rgba(134, 88, 88, 0.6);

	transform: scale(0);
	transition: transform 250ms ease-in;
}

.nav-links a:hover::after {
	transform: scale(1);
}

.toggle-btn {
	font-size: 1.5rem;
	color: #865858;
	background: transparent;
	border: transparent;
	cursor: pointer;
}

.toggle-btn {
	display: none;
}

/* ================
   responsive
   ================ */

@media screen and (max-width: 768px) {
	nav {
		height: 8vh;
		/* padding-inline: 2rem; */
	}
	.toggle-btn-missing {
		display: none;
	}
	.toggle-btn {
		display: block;
	}

	.nav-links {
		position: absolute;
		flex-direction: column;
		padding-top: 1rem;
		padding-left: 5rem;
		gap: 1rem;
		width: 100%;
		height: 92vh;
		top: 4rem;
		left: 0;
		background: #e4d3cf;

		transform: translateX(-100%);
		transition: 250ms ease-in;
	}

	.nav-active {
		transform: translateX(0%);
	}

	.toggle-btn:last-child {
		display: block;
	}

	.toggle-btn:last-child {
		display: none;
	}
}
